[Desktop Entry]
Version=1.0
Type=Application
Name=Msi-center
Comment=python
Exec=msi-keyboard-controller
Icon=msi-keyboard-controller
Path=
Terminal=false
StartupNotify=false
